// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110px;
  height: 40px;
  margin-top: -50px;
  margin-left: -75px;
	overflow: hidden;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.container {
	display: flex;
	border: 2px solid white;
	background: #ea3ffd;
	border-radius: 10rem;
	width: 60%;
	height: 10%;
	padding: 1rem;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

h1 {
	margin: 0;
	padding: 0;
	user-select: none;
	font-size: 1em;
	color:white;
}

.col-1 {
	width: 45%;
}

.col-2 {
	width: 25%;
}

.col > button, .number {
	width: 100%;
	background: #ea3ffd;
	border: 0px;
	text-align: center;
	color: white;
}

.button {
	font-family: sans-serif;
	font-size: 1.5em;
}

button {
	user-select: none;
	outline: none;
	background: violet;
}

