@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin-top: -100px;
  margin-left: -150px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  border: 4px solid #404040;
  background: violet;
  border-radius: 10rem;
  width: 60%;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

h1 {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.col-1 {
  width: 45%;
}

.col-2 {
  width: 25%;
}

.col > button, .number {
  width: 100%;
  background: #violet;
  border: 0px;
  text-align: center;
}

.button {
  font-family: sans-serif;
  font-size: 2em;
}

button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  background: violet;
}